[submodule "test/doctest"]
	path = test/doctest
	url = git@github.com:onqtam/doctest
[submodule "benchmark/google-benchmark"]
	path = benchmark/google-benchmark
	url = git@github.com:google/benchmark
